ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footerWrapper {
  width: 100%;
  padding: 0 1rem;
  border-top: 1px;
  border-top-style: solid;
  border-color: var(--symbiosis-footer-border-color);
}

.footer {
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  color: var(--ifm-menu-color);
}

.socialLinks {
  display: flex;
  gap: 1rem;
  order: 1;
  margin-left: 1rem;
  margin-bottom: 0;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.socialLinkSvg {
  width: 2rem;
  height: 2rem;
  fill: var(--ifm-menu-color);
}

.footerInfo {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-right: 2rem;
}

.copyrightTitle {
  border-right-style: solid;
  border-right-width: 1px;
  border-color: var(--symbiosis-footer-border-color);
  padding-right: 1.25rem;
}

.contactEmail {
  margin-left: 0.25rem;
  font-weight: 500;
}

.contactInfo {
  padding-left: 1.25rem;
}
